[Unit]
Description=RUN ROBOT PROGRAM
Before=robot_record.service 
After=robot_run.service 
[Service]
ExecStart=/home/ubuntu/life_ws/src/robot_main/booting/robot_program.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
