[Unit]
Description=Run ROBOT
Before=robot_record.service 
[Service]
ExecStart=/home/ubuntu/life_ws/src/robot_main/booting/robot_run.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
