[Unit]
Description=RoBot Run
After=robot_state.service 

[Service]
ExecStart=/home/ubuntu/life_ws/src/booting/robot_run.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
