<launch>
 <group ns="life">
  <node name="IR" pkg="rosserial_python" type="serial_node.py" output="screen" args="_port:=/dev/IR" respawn="true">
  </node>
  <node name="BLDC" pkg="rosserial_python" type="serial_node.py" output="screen" args="_port:=/dev/Motor" respawn="true">
  </node>
 </group>
</launch>
